//CSS RESET
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}
$lightblue: #62ECFF;
$darkGreen: #052321;
 


//MIXING AND VARIABLES
@mixin primaryText {
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 500;
}

@mixin mainGradient{
    background-image: linear-gradient($darkGreen, rgb(0, 0, 0));
}
@mixin secondaryText {
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
}



header {
    background-color: blanchedalmond;
    height: 100px;
}
.container{
    background-color: burlywood;
    height: 100vh;
    width: 100%;
}