html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  background-color: #052321;
  margin: 0;
}

/* .container {
  margin: 10px 10px;
} */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}

.nav-branding {
  font-size: 24px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.nav-link {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.nav-link:hover {
  color: #62ecff;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 69px;
    gap: 10px;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #052321;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}

.photo-index-container {
  height: 134px;
  width: 100%;
  background-image: url(../img/unsplash_Kj2SaNHG-hg.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo-index-container .photo-index-text {
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 10px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo-index-container .photo-index-text h1 {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.photo-index-container .photo-index-text h2 {
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
  opacity: 0.6;
}

.index-main-container1 {
  background-image: url(../img/unsplash_9SoCnyQmkzI.png);
  background-size: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-position: center center;
  gap: 60px;
  height: 700px;
  padding-left: 20px;
}

.index-main-container1 .index-main-boxes {
  margin-top: 10px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.index-main-container1 .index-main-boxes h3 {
  font-family: "jost", Times, serif;
  font-size: 24px;
  color: #62ecff;
  font-weight: 500;
  line-height: 35px;
}

.index-main-container1 .index-main-boxes p {
  color: #fff;
  font-size: 14px;
  font-family: "jost", Times, serif;
  font-weight: 500;
}

.footer {
  height: 160px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer #link-pages {
  color: #62ecff;
  word-spacing: 2px;
}

.footer #link-pages a {
  font-family: "jost", Times, serif;
  font-size: 24px;
  color: #62ecff;
  font-weight: 500;
  line-height: 35px;
  font-size: 14px;
}

.footer #small-text-box {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 0.7em;
}

.footer .footer-boxes {
  margin-top: 20px;
}

.footer .footer-boxes a i {
  margin: 10px;
  color: #fff;
  font-size: 1em;
}

.footer .jobb {
  font-family: "jost", Times, serif;
  font-size: 24px;
  color: #62ecff;
  font-weight: 500;
  line-height: 35px;
  font-size: 14px;
  margin-top: 20px;
}

@media (min-width: 687px) {
  .photo-index-container {
    height: 70vh;
    background-image: url(../img/unsplash_Kj2SaNHG-hg.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .photo-index-container .photo-index-text {
    background: rgba(0, 0, 0, 0.6);
    width: 1250px;
    height: 220px;
    margin-bottom: 30px;
    gap: 20px;
    text-align: center;
    border-radius: 10px;
  }
  .photo-index-container .photo-index-text h1 {
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
    text-decoration: none;
    font-size: 50px;
  }
  .photo-index-container .photo-index-text h2 {
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 36px;
    opacity: 0.6;
  }
  .index-main-container1 {
    background-image: url(../img/jefferson-santos-9SoCnyQmkzI-unsplash.jpg);
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1500px;
    gap: 160px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .index-main-container1 .index-main-boxes {
    margin-top: 50px;
    height: 150px;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .index-main-container1 .index-main-boxes h3 {
    font-family: "jost", Times, serif;
    font-size: 24px;
    color: #62ecff;
    font-weight: 500;
    line-height: 35px;
    font-size: 30px;
  }
  .index-main-container1 .index-main-boxes h3:hover {
    text-decoration: underline;
  }
  .index-main-container1 .index-main-boxes p {
    color: #fff;
    font-size: 14px;
    font-family: "jost", Times, serif;
    font-weight: 500;
    font-size: 20px;
  }
  .footer {
    height: 300px;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 30px;
  }
  .footer #link-pages {
    color: #62ecff;
    word-spacing: 7px;
  }
  .footer #link-pages a {
    font-family: "jost", Times, serif;
    font-size: 24px;
    color: #62ecff;
    font-weight: 500;
    line-height: 35px;
  }
  .footer #link-pages a:hover {
    text-decoration: underline;
  }
  .footer #small-text-box {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    letter-spacing: 0.2em;
  }
  .footer .footer-boxes a {
    font-size: 24px;
  }
  .footer .footer-boxes a i {
    margin: 10px;
    color: #fff;
    font-size: 1em;
  }
}

.back-img-stars {
  width: 100%;
  height: auto;
  position: absolute;
}

.main-reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35.42%, #052321), to(#000000));
  background: linear-gradient(180deg, #052321 35.42%, #000000 100%);
}

.main-reference .contentBox-reference-1 {
  position: absolute;
  z-index: 1;
  color: #fff;
}

.main-reference .contentBox-reference-1 #textBox1 {
  padding: 5%;
  width: 100%;
}

.main-reference .contentBox-reference-1 .reference-h1 {
  font-weight: 300;
}

.main-reference .contentBox-reference-1 .reference-p {
  font-weight: 300;
  margin-top: 10%;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 2;
}

.main-reference .contentBox-reference-1 .reference-h2 {
  color: #62ecff;
  font-weight: 300;
  margin-top: 20%;
}

.main-reference .contentBox-reference-1 .reference-companylogo {
  margin-top: 5%;
  width: 100%;
}

.main-reference .contentBox-reference-1 .reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
  padding: 5%;
}

.main-reference .contentBox-reference-1 .reference h2 {
  font-weight: 300;
}

.main-reference .contentBox-reference-1 .reference p {
  margin-top: 3%;
}

.main-reference .contentBox-reference-1 .reference .grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
  width: 100%;
}

.main-reference .contentBox-reference-1 .reference .grade h4 {
  font-weight: 300;
  width: 50%;
}

.main-reference .contentBox-reference-1 .reference .grade .grades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-right: 40%;
}

@media screen and (max-width: 687px) {
  .main-reference .contentBox-reference-1 .reference .grade .grades {
    margin-right: 20%;
  }
}

.main-reference .contentBox-reference-1 .reference .grade .grades .gradeRect {
  height: 20px;
  width: 20px;
  background-color: #62ecff;
}

@media screen and (max-width: 687px) {
  .main-reference .contentBox-reference-1 .reference .grade .grades .gradeRect {
    height: 15px;
    width: 15px;
  }
}

.main-reference .contentBox-reference-1 .reference .grade .grades .gradeRectWhite {
  height: 20px;
  width: 20px;
  background-color: #fff;
}

@media screen and (max-width: 687px) {
  .main-reference .contentBox-reference-1 .reference .grade .grades .gradeRectWhite {
    height: 15px;
    width: 15px;
  }
}

.contact-head {
  background-image: url(../img/ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
  width: 100vw;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.contact-head .contact-head-text {
  padding: 20px;
}

.contact-head .contact-head-text h1 {
  margin: 10px 0 30px 0;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.contact-head .contact-head-text p {
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
  color: white;
}

.contact-main {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(22, 21, 21, 0.7);
  width: 95w;
  padding: 40px 10px 10px 10px;
  margin-top: -40px;
}

.contact-main form .form-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-main form .form-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-main form input {
  padding: 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  gap: 5px;
  border-radius: 3px;
}

.contact-main form input[type="text"]::-webkit-input-placeholder {
  padding-left: 14px;
}

.contact-main form input[type="text"]:-ms-input-placeholder {
  padding-left: 14px;
}

.contact-main form input[type="text"]::-ms-input-placeholder {
  padding-left: 14px;
}

.contact-main form input[type="text"]::placeholder {
  padding-left: 14px;
}

.contact-main form button {
  margin-top: 10px;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 14px 0;
  border: none;
  background-color: #62ECFF;
  border-radius: 3px;
}

.contact-offices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-offices img {
  height: 100px;
  background-size: cover;
}

.contact-offices .container-aboutUsPage {
  width: 100%;
}

.contact-offices .container-aboutUsPage div.box {
  background-image: url(../img/unsplash_trYl7JYATH0.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding: 20px;
}

.contact-offices .container-aboutUsPage div.box section {
  width: 100%;
  height: 128px;
}

.contact-offices .container-aboutUsPage div.box section p {
  font-size: 20px;
  color: white;
}

.contact-offices .container-aboutUsPage div.box h4 {
  color: #62ECFF;
  margin-bottom: 5px;
}

.contact-offices .container-aboutUsPage div.box p.describe {
  width: 90%;
  color: white;
  font-size: 14px;
  background-color: black;
  padding: 10px 2px 20px 2px;
}

.contact-offices .container-aboutUsPage div.box-2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35.42%, #052321), to(#000000));
  background: linear-gradient(180deg, #052321 35.42%, #000000 100%);
  padding: 20px;
}

.contact-offices .container-aboutUsPage div.box-2 h4 {
  color: #62ECFF;
  margin-bottom: 5px;
}

.contact-offices .container-aboutUsPage div.box-2 p {
  font-size: 14px;
  color: white;
  margin-bottom: 5px;
}

.contact-offices .container-aboutUsPage div.box-2 p.person {
  font-size: 12px;
  margin-bottom: 3px;
}

.contact-offices .container-aboutUsPage div.box-2 div.information {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-offices .container-aboutUsPage div.box-2 div.information section {
  margin-bottom: 25px;
}

.contact-offices .container-aboutUsPage div.box-2 div.information section a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.contact-offices .container-aboutUsPage div.box-2 div.information section a img {
  width: 12px;
  vertical-align: middle;
}

.contact-offices .container-aboutUsPage div.box-2 div.information section img {
  width: 100%;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .contact-offices .container-aboutUsPage div.box {
    background-image: url(../img/unsplash_trYl7JYATH0.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin-left: 40px;
    margin-right: 40px;
  }
  .contact-offices .container-aboutUsPage div.box section {
    width: 100%;
    height: 200px;
  }
  .contact-offices .container-aboutUsPage div.box section p {
    font-size: 28px;
    color: white;
  }
  .contact-offices .container-aboutUsPage div.box h4 {
    color: #62ECFF;
    margin-bottom: 10px;
  }
  .contact-offices .container-aboutUsPage div.box p.describe {
    width: 70%;
    color: white;
    font-size: 18px;
    line-height: 25px;
    background-color: black;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 30px;
    padding-right: 5px;
  }
  .contact-offices .container-aboutUsPage div.box-2 {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35.42%, #052321), to(#000000));
    background: linear-gradient(180deg, #052321 35.42%, #000000 100%);
    padding: 40px;
  }
  .contact-offices .container-aboutUsPage div.box-2 h4 {
    color: #62ECFF;
    margin-bottom: 10px;
  }
  .contact-offices .container-aboutUsPage div.box-2 p {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
  }
  .contact-offices .container-aboutUsPage div.box-2 p.person {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .contact-offices .container-aboutUsPage div.box-2 div.information {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-offices .container-aboutUsPage div.box-2 div.information section {
    width: 350px;
    margin-bottom: 25px;
  }
  .contact-offices .container-aboutUsPage div.box-2 div.information section a {
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
  .contact-offices .container-aboutUsPage div.box-2 div.information section a img {
    width: 24px;
    vertical-align: middle;
  }
}
/*# sourceMappingURL=style.css.map */